
/* general */

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* debug rules */

.container {
    width: 80%;
    margin: 0 auto;
    padding: 20px 0;
}

header {
    height: 100px;
    /* debug rules */
    background-color: rgb(235, 103, 224);
}

.section1 {
    margin:20px 0;
    /* debug rules */
    height: 500px;
    background-color: rgb(247, 228, 122);
    
}
.clearfix::after {
    content: "";
    display: table;
    clear: both;
}

.section2 {
    padding-bottom: 20px;
    /* debug rules */
    background-color: rgb(6, 141, 252); 
 
}

.title {
    height: 60px;
    margin-bottom: 20px;
    /* debug rules */
    background-color: rgb(156, 217, 245);
}


.column1, .column2, .column3{
    width: 24%;
    float: left;
    /* debug rules */
    background-color:rgb(156, 217, 245);
    height: 700px;
    
}

.column2 {
    width: 50%;
    margin: 0 1%;
    /* debug rules */
    height: 700px;
    
}

footer {
    margin-top: 10px;
     /* debug rules */
     height: 50px;
    background-color: rgb(198, 46, 245);
}
